# ignore build files
build/*
DerivedData/*
# ignore Finder files
libvoikko/.DS_Store
Resources/.DS_Store
# libvoikko headers
libvoikko/*
# Resources
Resources/voikko/*
# user's XCode project files
VoikkoSpellService.xcodeproj/*
# target
dmg/src/VoikkoSpellService.app
dmg/src/README*
dmg/src/COPYING
dmg/src/Changelog

