# build files
build
DerivedData

# build result
VoikkoSpellService

# Finder files
.DS_Store

libs

# libvoikko headers
libvoikko

# Resources
Resources/voikko/*

# user's XCode project files
VoikkoSpellService.xcodeproj/*

# target
dmg/src
dmg/icon.png
dmg/*.dmg
