//
//  version.xcconfig
//  VoikkoSpellService
// 
// Launch Service compatible build versions. LS recognizes the format nnnnn.nn.nn. 
// Restrict each revision number in your marketing version to be from 0 to 99, 
// Encode the "major.minor.bug stage release", to a format of "MM.mm.bb s rr". 
// Assign each development stage a number, 
// 0 = development, 1 = alpha, 2 = beta, 3 = release candidate, 9 = released. 
// Encode this as LS-compatible: "MMmmb.bs.rr". 
// Thus a marketing version of "1.3.10b4" has an encoded build version of "01031.02.04". 
// And "2.0.1" has an encoded version of "02000.19.00".
PROJECT_VERSION = 01005.02.01
MARKETING_VERSION = 1.0.5b1

